<h2 class="title subtitle">New User</h2>

<%= button_to "Go to sign in!", new_session_url, method: :get %>

<form class="credentials-form" action="<%=users_url%>" method="post">
  <ul class="field">
    <label for="email">Email</label>
    <input type="text" name="user[email]">
  </ul>

  <ul class="field">
    <label for="password">Password</label>
    <input type="text" name="user[password]">
  </ul>

  <input type="submit" value="Sign-up">
</form>
