<h2>Sign Up!</h2>

<form action="<%=users_url%>" method="post">
  <label for="email">
    Email: <input type="text" name="user[email]">
  </label>

  <label for="password">
    Password: <input type="text" name="user[password]">
  </label>

  <input type="submit" value="Sign up!">
</form>
