html, header, body, ul, h1, h2, li, form, label {
  margin: 0;
  padding: 0;
  -webkit-padding: 0;
  border: 0;

  font: inherit;
  color: inherit;

  background: transparent;
}

button,
input[type="submit"] {
  cursor: pointer;
  border-color: transparent;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;

}
