.credentials-form, .new-band-form {
  font-size: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
  width: 300px;
  margin-top: 30px;
}

.field {
  display: flex;
  justify-content: space-between;
}
