header {
  display: flex;
  justify-content: space-between;
  font-family: fantasy;
}

h1 {
  font-weight: bold;
  font-size: 90px;
}

h2 {
  font-weight: bold;
  font-size: 50px;
  font-family: fantasy;
}

nav {
  display: flex;
}
